.notice
{
	color: green;
}
input,textarea
{
	width: 500px !important;
}
#navbar > ul > li
{
	display: inline;
	margin-right: 100px;
}

ul
{
	list-style: none;
	display: inline-block;
}

#products
{
	width: 200px;
	border: solid;
	margin-right: 5%;
	padding-right: 18px;
}


